* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: rgb(182, 61, 65);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    padding: 0 1rem;
    gap: 2rem;
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

#logo {
    white-space: nowrap;
}

#logo * {
    font-family: "Happy Monkey", sans-serif;
    font-style: italic;
}

#logo a,
#navbar li a {
    text-decoration: none;
    color: rgb(182, 61, 65);
}

#navbar {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#hero-section,
.categories,
.itineraries-div {
    padding: 0 1rem;
}

#hero-section {
    position: relative;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/machu-picchu-peru.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

#hero-section * {
    position: relative;
    z-index: 1;
}

#hero-section h2 {
    font-size: clamp(2rem, -1rem + 6.25vw, 3rem);
    margin-bottom: 1rem;
}

h2 {
    font-size: clamp(2rem, -1rem + 6.25vw, 3rem);
    margin-bottom: 1rem;
}

#hero-section p {
    font-size: clamp(1rem, -0.5rem + 3.125vw, 1.5rem);
}

#hero-btn,
.form-group input[type="submit"] {
    padding: 0.3rem 0.7rem;
    background-color: rgb(182, 61, 65);
    color: rgb(235, 180, 180);
    border-color: rgb(182, 61, 65);
    border-radius: 0.3rem;
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
}

#hero-btn {
    display: block;
    text-decoration: none;
    box-shadow: 0 2px 0 #0056b3;
}

#hero-btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #003f80;
}

.categories {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.categories h3 {
    margin-bottom: 1rem;
}

#current-popular-destinations {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.popular-destination {
    position: relative;
    flex: 1 1 40%;
    aspect-ratio: 2/3;
}

.popular-destination img {
    display: block;
    width: 100%;
    height: 100%;
}

.popular-destination span {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: rgb(235, 180, 180);
    padding-left: 0.5rem;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    margin-top: auto;
    margin-bottom: 0.5rem;
}

/* itineraries */


/* signup form */
#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-group input[type=text],
.form-group input[type=email],
.form-group input[type=password] {
    border-color: rgb(182, 61, 65);
    border-style: solid;
    border-radius: 0.5rem;
    color: rgb(182, 61, 65);
    padding: 0.3125rem;
    margin: 0.5rem 0;
    width: 15rem;
}

.form-group input[type=text]:focus,
.form-group input[type=email]:focus,
.form-group input[type=password]:focus {
    background-color: rgb(235, 180, 180);
}

/* tablet >= 768px */
@media (min-width: 768px) {
    #navbar {
        flex-wrap: nowrap;
    }

    #current-popular-destinations {
        flex: nowrap;
    }

    .popular-destination {
        flex: 1 1 0;
    }

    /* signup form */
    #signup-form {
        border: 0.2rem none brown;
        border-radius: 0.5rem;
        box-shadow: 0 0 2rem 1rem #f4aab9;
        padding: 1.5rem;
    }

    .form-group input[type=text],
    .form-group input[type=email],
    .form-group input[type=password] {
        width: 21rem;
    }
}

/* desktop >= 1024px */
@media (min-width: 1024px) {
    /* signup form */
    #signup-form {
        border: 0.2rem none brown;
        border-radius: 0.5rem;
        box-shadow: 0 0 2rem 1rem #f4aab9;
        padding: 2rem;
        max-width: 600px;
    }

    .form-group input[type=text],
    .form-group input[type=email],
    .form-group input[type=password] {
        width: 28rem;
    }
}