* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: rgb(182, 61, 65);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    padding: 0 1rem;
    gap: 2rem;
    margin-bottom: 2rem;
}

#logo {
    white-space: nowrap;
}

#logo * {
    font-family: "Happy Monkey", sans-serif;
    font-style: italic;
}

#logo a,
#navbar li a {
    text-decoration: none;
    color: rgb(182, 61, 65);
}

#navbar {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#hero-section,
.categories {
    padding: 0 1rem;
}

#hero-section {
    position: relative;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/machu-picchu-peru.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

#hero-section * {
    position: relative;
    z-index: 1;
}

#hero-section h2 {
    font-size: clamp(2rem, -1rem + 6.25vw, 3rem);
    margin-bottom: 1rem;
}

h2 {
    font-size: clamp(2rem, -1rem + 6.25vw, 3rem);
    margin-bottom: 1rem;
}

#hero-section p {
    font-size: clamp(1rem, -0.5rem + 3.125vw, 1.5rem);
}

#hero-btn,
input[type="submit"] {
    padding: 0.3rem 0.7rem;
    background-color: rgb(182, 61, 65);
    color: rgb(235, 180, 180);
    border-color: rgb(182, 61, 65);
    border-radius: 0.3rem;
    margin-top: 1rem;
    cursor: pointer;
}

.categories {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.categories h3 {
    margin-bottom: 1rem;
}

#current-popular-destinations {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.popular-destination {
    position: relative;
    flex: 1 1 40%;
    aspect-ratio: 2/3;
}

.popular-destination img {
    display: block;
    width: 100%;
    height: 100%;
}

.popular-destination span {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: rgb(235, 180, 180);
    padding-left: 0.5rem;
}

/* signup form */
#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-group input[type="text"] {
    border-color: rgb(182, 61, 65);
    border-style: solid;
    color: rgb(182, 61, 65);
    padding: 0.3125rem;
}

.form-group input[type="text"]:focus {
    background-color: rgb(235, 180, 180);
}

/* tablet >= 768px */
@media (min-width: 768px) {
    #navbar {
        flex-wrap: nowrap;
    }

    #current-popular-destinations {
        flex: nowrap;
    }

    .popular-destination {
        flex: 1 1 0;
    }
}

/* desktop >= 1024px */